<div class="container" style="display:inline;margin: 20px; text-align: center;">

  <h4>Insect Pest and Disease Library</h4>
  <h6><a href="http://sarai.ph/about-us" target="new">SARAi Project 2.4 Insect Pest and Disease Advisory System (IPDAS)</a></h6>
</div>


<div class="container" style="width: 100%;">

  <div class="cardcontainer">
    <a routerLink="rice">
      <div class="card"  (click)="a()">

        <img src="./assets/rice.jpg" class="card-img-top" alt="./assets/rice.jpg">
        <div class="card-body">
          <div class="card-title"> Rice</div>
          <!-- <span class="card-subtitle mb-2 text-muted" style="font-style:italic;font-size: .75rem;">{{pest.scientific_name}}</span> -->
        </div>
      </div>
    </a>
  </div>

  <div class="cardcontainer">
    <a routerLink="rice">
      <div class="card"  (click)="a()">

        <img src="./assets/rice.jpg" class="card-img-top" alt="./assets/rice.jpg">
        <div class="card-body">
          <div class="card-title"> Rice</div>
          <!-- <span class="card-subtitle mb-2 text-muted" style="font-style:italic;font-size: .75rem;">{{pest.scientific_name}}</span> -->
        </div>
      </div>
    </a>
  </div>

  <div class="cardcontainer">
    <a routerLink="rice">
      <div class="card"  (click)="a()">

        <img src="./assets/rice.jpg" class="card-img-top" alt="./assets/rice.jpg">
        <div class="card-body">
          <div class="card-title"> Rice</div>
          <!-- <span class="card-subtitle mb-2 text-muted" style="font-style:italic;font-size: .75rem;">{{pest.scientific_name}}</span> -->
        </div>
      </div>
    </a>
  </div>

  <div class="cardcontainer">
    <a routerLink="rice">
      <div class="card"  (click)="a()">

        <img src="./assets/rice.jpg" class="card-img-top" alt="./assets/rice.jpg">
        <div class="card-body">
          <div class="card-title"> Rice</div>
          <!-- <span class="card-subtitle mb-2 text-muted" style="font-style:italic;font-size: .75rem;">{{pest.scientific_name}}</span> -->
        </div>
      </div>
    </a>
  </div>

  <div class="cardcontainer">
    <a routerLink="rice">
      <div class="card"  (click)="a()">

        <img src="./assets/rice.jpg" class="card-img-top" alt="./assets/rice.jpg">
        <div class="card-body">
          <div class="card-title" style="color:black"> Rice</div>
          <!-- <span class="card-subtitle mb-2 text-muted" style="font-style:italic;font-size: .75rem;">{{pest.scientific_name}}</span> -->
        </div>
      </div>
    </a>
  </div>

  <div class="cardcontainer">
    <a routerLink="rice">
      <div class="card"  (click)="a()">

        <img src="./assets/rice.jpg" class="card-img-top" alt="./assets/rice.jpg">
        <div class="card-body">
          <div class="card-title"> Rice</div>
          <!-- <span class="card-subtitle mb-2 text-muted" style="font-style:italic;font-size: .75rem;">{{pest.scientific_name}}</span> -->
        </div>
      </div>
    </a>
  </div>

  <div class="cardcontainer">
    <a routerLink="rice">
      <div class="card"  (click)="a()">

        <img src="./assets/rice.jpg" class="card-img-top" alt="./assets/rice.jpg">
        <div class="card-body">
          <div class="card-title" style="color:black"> Rice</div>
          <!-- <span class="card-subtitle mb-2 text-muted" style="font-style:italic;font-size: .75rem;">{{pest.scientific_name}}</span> -->
        </div>
      </div>
    </a>
  </div>

  <div class="cardcontainer">
    <a routerLink="rice">
      <div class="card"  (click)="a()">

        <img src="./assets/rice.jpg" class="card-img-top" alt="./assets/rice.jpg">
        <div class="card-body">
          <div class="card-title"> Rice</div>
          <!-- <span class="card-subtitle mb-2 text-muted" style="font-style:italic;font-size: .75rem;">{{pest.scientific_name}}</span> -->
        </div>
      </div>
    </a>
  </div>

  <div class="cardcontainer">
    <a routerLink="rice">
      <div class="card"  (click)="a()">

        <img src="./assets/rice.jpg" class="card-img-top" alt="./assets/rice.jpg">
        <div class="card-body">
          <div class="card-title"> Rice</div>
          <!-- <span class="card-subtitle mb-2 text-muted" style="font-style:italic;font-size: .75rem;">{{pest.scientific_name}}</span> -->
        </div>
      </div>
    </a>
  </div>

</div>